body{
    text-align: center;
    background-color: rgb(198, 238, 238);
}
.btn{
    height: 200px;
    width:200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.yellow{
    background-color:  #f6963c;
}
.red{
    background-color:  #d9527b;
}
.green{
    background-color: #44a5c3;
}
.purple{

    background-color:#3b63de;
}
.flash{background-color: white;
}
.userflash{
background-color: green;
}
